padding:0;
}
input ,select{
	vertical-align: middle;
}
/*..................main code index...............*/
.wrapper
{
	height: 660px;
	width: 1340px;
	/* back groun color*/
}
header
{
	height: 170px;
	width: 1340px;
	background-color: pink;
}
section{
	height: 1200px;
	width: 1340px;
	
	background-image: url('C:/Users/pc2/Desktop/onlinlibrarymanagementsystem/image/images(3).jpg' );
background-color: pink;
}
footer{
	height: 82px;
	width: 1340px;
	background-color: black;

}